@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chokokutai&display=swap');

/*
.tiny5-regular {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/*
.rubik-wet-paint-regular {
  font-family: "Rubik Wet Paint", system-ui;
  font-weight: 400;
  font-style: normal;
}
*/
/*
.chokokutai-regular {
  font-family: "Chokokutai", system-ui;
  font-weight: 400;
  font-style: normal;
}
*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../assets/background/nebula_1.jpg");
    color: honeydew;
    font-family: "Tiny5", sans-serif;
}

h1 {
    font-family: "Rubik Wet Paint", mono;
    font-size: 4em;
}

p {
    font-size: 2em;
    font-weight: 600;
}

button {
    width: 10vw;
    height: 5vh;
    margin: 10px;

    border-radius: 5px;
    border: none;

    font-family: "Tiny5", sans-serif;
    font-size: 1em;
    color: honeydew;

}

/*start menu*/
/*ID*/
#start-menu {
    width: 100vw;
    height: 80vh;

    /* display: none; */
    display: flex;

    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    background: transparent;
}

#logo-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#logo-container>h1 {
    /*credit to geeksforgeeks to style text with linear gradient*/
    background: linear-gradient(60deg, orange, yellow, green, cyan, blue, violet);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    position: absolute;
}

#logo-container>img {
    aspect-ratio: 1/1;
    width: 14vw;
}

#main-title {
    font-family: "Chokokutai", mono;
    font-size: 8em;
    font-weight: 800;
    color: red;
}

#start-btn,
#restart-btn {
    transition-duration: 0.4s;
    background: transparent;
}

#start-btn:hover {
    color: red;
    font-size: 2em;
    width: 20vw;
}

/*game view*/
/*ID*/
#game-screen {
    display: none;
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/background/purple_nebula.png');
    background-position-x: 50%;
    /* background-size: cover; */
}

/*Class*/
.move-background {
    animation: moveBackground 3s linear reverse infinite;
}

@keyframes moveBackground {

    0% {

        background-position-x: 0%;
    }

    100% {
        background-position-x: 100%;
    }
}

.floor {
    width: 100vw;
    height: 150px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.hp-bar {
    aspect-ratio: 1/1;
    width: 10vw;
    position: absolute;
    float: left;
    opacity: 1;
    margin: 2% 0 0 2%;
}

/*game over menu*/
/*ID*/
#game-over-menu {
    width: 100vw;
    height: 80vh;

    display: none;
    /* display: flex; */

    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: transparent;
}

#game-over-text {
    color: red;
    font-size: 8em;
    text-shadow: 2px 4px 4px rgba(135, 34, 194, 0.815);
}

#restart-btn:hover {
    width: 20vw;
    color: red;
    font-size: 2em;
}

#player-score {
    font-size: 6em;

    background: linear-gradient(60deg, orange, yellow, green, cyan, blue, violet);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}